{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin:12rem;">

  <div class="container">
    <h1 class='section_title'>password change</h1>
    {% if error_message %}<p stlye='color:yellowgreen;'><strong>{{ error_message }}</strong></p>{% endif %}
    <form action= "{% url 'accounts:change_password' %}" method="POST" enctype ="multipart/form-data">
      {% csrf_token %}
      {{ password_form.as_p }}
      <input type="submit">
    </form>
</div>
{% endblock content %}
